body{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #b9ffc7;
}
.wrap{
    max-width: 1400px;
    margin: auto;
    padding: 10px 30px;
    box-sizing: border-box;
    background: #fff;
    
}
.menu{
    background: #008e56;
    box-shadow: 0 2px 12px 2px #008e56;
    position: fixed;
    top: 0;
    width: 100%;
}
.menu ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;

}
.menu a, .menu li{
    color: #fff;
    text-decoration: none;
}
/* .content{
    background: lightgreen;
} */

/* .content .wrap{
    display: flex;
    flex-direction: column; 
     align-items: center;
    justify-content: center;
    margin-top: 80px;
    
} */
h1, h2{
    color: green;
}

.pagination li {
   border: 1px solid#264b5d;
    margin-bottom: 40px;
}
.list-pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.page-num-selected{
    background: #81d4fa;
    padding: 20px;
}
.list-pages a{
    background: #264b5d;
    padding: 20px;
    display: block;
    color: #FFC;
}
button{
    border-radius: 6px;
    box-shadow: inset 0 0 6px 2px #fff;
    padding: 10px 40px;
    margin-top: 40px;
    font-size: 20px;
    cursor: pointer;
}
.bg{
    display: flex;
    flex-direction: column;
    width: 75%;
    font-size: 20px;
}
.bg select{
    font-size: 20px;
}
.center{
    text-align: center;
}
input{
    width: 100%;
    /* box-shadow: 0 2px 8px 2px #008e56; */
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 10px;
}
.top{
    padding: 4px 24px;
    margin-top: 0;
    background: transparent;
    border: none;
    color: #fff;
    box-shadow: none;
}
/* .content ul{
    list-style: none;
    padding: 0;
    margin: 0;
} */
/* .content li{
    /* box-shadow: 0 2px 8px 2px #008e56; */
    /* margin-bottom: 5px; */
    /* font-size: 20px; */
 */
.comp_task{
    box-shadow: 0 2px 8px 2px #008e56;
    font-size: 20px;
    padding: 10px;
}
.helptext{
    padding: 0 0 0 20px;
}
.register label{
    font-size: 20px;
}
.content a{
    color: #000;
    display: block;
    padding: 20px;
    text-decoration: none;
}
.but select,textarea, input{
    display: flex;
    align-items: flex-end;
    font-size: 20px;

}

.good{
    background: teal;
}
.remove{
    background: orangered;
}
a b{
    color: orangered;
}
.td_2 , .td_1{
    width: 15%;
    text-align: center;
}
.content table {
    width: 100%;
}

 .but_1{
    width: 75%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
 }
 .but_1 select{
    font-size: 20px;
    width: 100%;
 }
 .but_1 textarea{
    width: 100%;
 }
 .b5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
 }
 .b4 , .b3{
    padding: 10px 5px 15px 0px;
    
 }
 .b4 , .b5{
    margin-right: 10px;
    width: auto;
 }