{% extends 'tasks/base.html' %}

{% block content %}

<h2>{{ task.title }}</h2>
<h3>{{ error }}</h3>
<form method="post" class="bg" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.user.label }} {{ form.user }}
    {{ form.title.label }} {{ form.title }}
    {{ form.lines.label }} {{ form.lines }}
    {{ form.place.label }} {{ form.place }}
    {{ form.memo.label }} {{ form.memo }}
    {{ form.memo_images.label }} {{ form.memo_images }}
    {{ form.decision.label }} {{ form.decision  }}
    {{ form.decision_images.label }} {{ form.decision_images }}
    <div class="center">
        <button class="btn">Сохранить</button>
    </div>
</form>
<form action="{% url 'completetask' task.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <button class="btn good">Выполнено</button>
</form>

<form action="{% url 'deletetask' task.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <button class="btn remove">Удалить</button>
</form>
</div>
{% endblock %}